@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cotação Valores</h1>

    <div class="content">
        <div>
            <label>Origem:</label>
            <select id="origem">
                <option value="">Origem</option>
                <option value="011">011</option>
                <option value="016">016</option>
                <option value="017">017</option>
                <option value="018">018</option>
            </select>
        </div>
        <div>
            <label>Destino:</label>
            <select id="destino">
                <option value="">Destino</option>
                <option value="011">011</option>
                <option value="016">016</option>
                <option value="017">017</option>
                <option value="018">018</option>
            </select>
        </div>
        <div>
            <label>Tempo:</label><input id="tempo" />
        </div>
        <div>
            <label>Planos:</label>
            <select id="plano">
                <option value="">Plano</option>
                <option value="30">FaleMais 30</option>
                <option value="60">FaleMais 60</option>
                <option value="120">FaleMais 120</option>
            </select>
        </div>
        <div>
            <div>
                <button id="btnPesquisar">Pesquisar</button>
            </div>
        </div>
    </div>

    <hr/>

    <div id="table-responsive"></div>
</div>

<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script>

    $('#btnPesquisar').click(function () {
        var origem = $('#origem').find(":selected").text();
        var destino = $('#destino').find(":selected").text();
        var tempo = $('#tempo').val();
        var plano = $('#plano').find(":selected").val();

        CalcularValores(origem, destino, tempo, plano);
    })

    async function CalcularValores(origem, destino, tempo, plano) {
        let result;

        try {
            result = JSON.parse(await $.ajax({
                url: '@Url.Action("CalcularValores")',
                dataType: 'json',
                type: 'GET',
                data: { origem, destino, tempo, plano }
            }));

            var tableResponsive = "";
            $('#table-responsive').html(tableResponsive);

            if (result == null) {
                $('#table-responsive').html("<hr/><h3>Valores Não Encontrados Para os Locais Informado</h3>");
            } else {
                tableResponsive =
                    "<table>" +
                    "<thead>" +
                    "<tr>" +
                    "<th>Origem</th>" +
                    "<th>Destino</th>" +
                    "<th>Tempo</th>" +
                    "<th>Plano</th>" +
                    "<th>Com FaleMais</th>" +
                    "<th>Sem FaleMais</th>" +
                    "</tr>" +
                    "</thead>" +
                    "<tbody>" +
                    "<tr>" +
                    "<td>" + origem + "</td>" +
                    "<td>" + destino + "</td>" +
                    "<td>" + tempo + "</td>" +
                    "<td> FaleMais " + plano + "</td>" +
                    "<td> R$" + result.Item1 + "</td>" +
                    "<td> R$" + result.Item2 + "</td>" +
                    "</tbody>" +
                    "</table>";

                $('#table-responsive').html(tableResponsive);
            }
        } catch (error) {
            console.error(error);
        }
    }

</script>
